@*@model IEnumerable<InstallmentsSystem.Entities.Resources.ClientResource>
    @{
        ViewBag.Title = "العملاء";
    }
    <h2>العملاء</h2>
    <br />
    <input type="button" value="اضافة عميل" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Client")'" />

    @if (!Model.Any())
    {
        <br />
        <br />
        <p>لايوجد عملاء</p>
    }
    else
    {
        <br />
        <br />
        <table id="employees" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="not_mapped_style" style="text-align:right">الأسم</th>
                    <th class="not_mapped_style" style="text-align:right">الرقم القومى</th>
                    <th class="not_mapped_style" style="text-align:right">الموبايل</th>
                    <th class="not_mapped_style" style="text-align:right"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var client in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(client.ClientName, "details", "Client", new { id = client.Id })</td>
                        <td>@client.ClientNationalId</td>
                        <td>@client.MobileNumber</td>
                        <td>
                            <button data-employee-id="@client.Id" class="btn-link js-delete">حذف</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
    @section scripts
    {
        <script>
            $(document).ready(function () {
                $("#employees").DataTable();
                $("#employees .js-delete").on("click", function () {
                    if (confirm("هل ترغب فى حذف هذا العامل؟؟")) {
                        $.ajax({
                            url: "/employee/delete/" + $(this).attr("data-employee-id"),
                            method: "POST",
                            success: function () {
                                location.reload(true);
                            }
                        });
                    }
                });
            });
        </script>
    }*@